<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controle.usuario.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>controle.inicio.InicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controle.usuario.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirUsuarioServlet</servlet-name>
        <servlet-class>controle.usuario.IncluirUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerUsuarioServlet</servlet-name>
        <servlet-class>controle.usuario.VerUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObterUsuarioServlet</servlet-name>
        <servlet-class>controle.usuario.ObterUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarUsuarioServlet</servlet-name>
        <servlet-class>controle.usuario.ListarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarUsuarioServlet</servlet-name>
        <servlet-class>controle.usuario.AlterarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirUsuarioServlet</servlet-name>
        <servlet-class>controle.usuario.ExcluirUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.AlterarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.ExcluirCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.IncluirCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.ListarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObterCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.ObterCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoUsuarioServlet</servlet-name>
        <servlet-class>controle.usuario.NovoUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovaCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.NovaCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirFuncionarioServlet</servlet-name>
        <servlet-class>controle.funcionario.IncluirFuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFuncionarioServlet</servlet-name>
        <servlet-class>controle.funcionario.AlterarFuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirFuncionarioServlet</servlet-name>
        <servlet-class>controle.funcionario.ExcluirFuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaCategoriaServlet</servlet-name>
        <servlet-class>controle.funcionario.ListaCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarFuncionarioServlet</servlet-name>
        <servlet-class>controle.funcionario.ListarFuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoFuncionarioServlet</servlet-name>
        <servlet-class>controle.funcionario.NovoFuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObterFuncionarioServlet</servlet-name>
        <servlet-class>controle.funcionario.ObterFuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProdutoServlet</servlet-name>
        <servlet-class>controle.produto.AlterarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProdutoServlet</servlet-name>
        <servlet-class>controle.produto.ExcluirProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirProdutoServlet</servlet-name>
        <servlet-class>controle.produto.IncluirProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutoServlet</servlet-name>
        <servlet-class>controle.produto.ListarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoProdutoServlet</servlet-name>
        <servlet-class>controle.produto.NovoProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObterProdutoServlet</servlet-name>
        <servlet-class>controle.produto.ObterProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarCarrinhoComprasServlet</servlet-name>
        <servlet-class>controle.carrinhocompras.AdicionarCarrinhoComprasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverCarrinhoComprasServlet</servlet-name>
        <servlet-class>controle.carrinhocompras.RemoverCarrinhoComprasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprasServlet</servlet-name>
        <servlet-class>controle.carrinhocompras.ComprasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/InicioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncluirUsuarioServlet</servlet-name>
        <url-pattern>/IncluirUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerUsuarioServlet</servlet-name>
        <url-pattern>/VerUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObterUsuarioServlet</servlet-name>
        <url-pattern>/ObterUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarUsuarioServlet</servlet-name>
        <url-pattern>/ListarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarUsuarioServlet</servlet-name>
        <url-pattern>/AlterarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirUsuarioServlet</servlet-name>
        <url-pattern>/ExcluirUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCategoriaServlet</servlet-name>
        <url-pattern>/AlterarCategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCategoriaServlet</servlet-name>
        <url-pattern>/ExcluirCategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncluirCategoriaServlet</servlet-name>
        <url-pattern>/IncluirCategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCategoriaServlet</servlet-name>
        <url-pattern>/ListarCategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObterCategoriaServlet</servlet-name>
        <url-pattern>/ObterCategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoUsuarioServlet</servlet-name>
        <url-pattern>/NovoUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovaCategoriaServlet</servlet-name>
        <url-pattern>/NovaCategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncluirFuncionarioServlet</servlet-name>
        <url-pattern>/IncluirFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFuncionarioServlet</servlet-name>
        <url-pattern>/AlterarFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirFuncionarioServlet</servlet-name>
        <url-pattern>/ExcluirFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaCategoriaServlet</servlet-name>
        <url-pattern>/ListaCategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarFuncionarioServlet</servlet-name>
        <url-pattern>/ListarFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoFuncionarioServlet</servlet-name>
        <url-pattern>/NovoFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObterFuncionarioServlet</servlet-name>
        <url-pattern>/ObterFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProdutoServlet</servlet-name>
        <url-pattern>/AlterarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProdutoServlet</servlet-name>
        <url-pattern>/ExcluirProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncluirProdutoServlet</servlet-name>
        <url-pattern>/IncluirProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutoServlet</servlet-name>
        <url-pattern>/ListarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoProdutoServlet</servlet-name>
        <url-pattern>/NovoProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObterProdutoServlet</servlet-name>
        <url-pattern>/ObterProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarCarrinhoComprasServlet</servlet-name>
        <url-pattern>/AdicionarCarrinhoComprasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverCarrinhoComprasServlet</servlet-name>
        <url-pattern>/RemoverCarrinhoComprasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprasServlet</servlet-name>
        <url-pattern>/ComprasServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>InicioServlet</welcome-file>
    </welcome-file-list>
</web-app>
